<div class="row">
  <%= simple_form_for @workflow, :html => {:multipart => true, :class => ''} do |f| %>

    <%= f.input :name %>
    <%= f.input :description,  :input_html => { rows: 3, class: 'span4'} %>

    <% if @workflow.new_record? %>
      <%= f.input :taverna_workflow, :as => :file %>
    <% else %>
      <p>File: <%= link_to @workflow.filename, @workflow.taverna_workflow.url %></p>
    <% end %>

    <%= f.button :submit %>
<% end %>
</div>
