<% if @files.empty? %>
  <div class="" id="panel-no-files">
  <p class="text-center" id="no-files">
  Your workspace is empty. 
  </p>
  <p class="text-center">
  <%= link_to "<i class='icon-folder-open'> </i> Upload local files ".html_safe, "#myModal", :"data-toggle" => "modal", :role => "button", :id => "show_file_upload" %>
  <span id="or">or</span>
  <%= link_to "<i class='icon-globe'> </i> Use files from the Internet ".html_safe, "#", :id => "show_external_files" %>
  </p>

</div>
<% else %>
  <hr />
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Selected</th>
        <th>File</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>


    <% @files.each do |file| %>
      <tr>
        <td> <%= check_box_tag "upload_files[]", file.id %> 
        &nbsp;
        <%= file.name %>  </td>
      <td> <%= file.file_file_name %> </td>
      <td> <%= link_to "<i class='icon-edit'> </i>".html_safe, "#" %>
    </td>
      </tr>
    <% end %>

    </tbody>
    <th>
    </th>
  </table>

  <%= link_to "<i class='icon-folder-open'> Upload more files </i>".html_safe, "#myModal", :"data-toggle" => "modal", :role => "button", :class => "btn btn-small" %>
<% end %>


</p>

