<% @executions ||= executions %>

<div id="executions_list">

  <div class="row"><h3><span class="bullet"></span><%= t(:executions) %></h3></div>

<div class="row">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th><%= t(:date) %></th>
        <th><%= t(:status) %></th>
        <th><%= t(:results) %></th>
      </tr>
    </thead>
    <tbody>

    <% @executions.each do |execution| %>
      <tr>
        <td> <%= l execution.created_at, :format => :list_datetime %></td>
        <td>
          <span class="label <%= execution_status_class(execution) %>">
          <%= execution_status_name(execution) %>
          </span>
        </td>

        <td>
        <% if execution.finished? || execution.error? %>
          <% if execution.results %>
            <% execution.results.each do |output_id, output| %>
            <ol>
            <% output.each do |o| %>
              <li>
              <% if execution.finished? %>
                <%= link_to image_tag("page_white_excel.png"), o[:value] %> <%= link_to t(:download), o[:value] %> (<%= number_to_human_size(o[:size].to_i) %>)
              <% else %>
                <%= o[:value] %>
              <% end %>
              </li>
            <% end %>
            </ol>
            <% end %>
          <% else %>
          Error
          <% end %>
        <% end %>
        </td>
      </tr>
    <% end %>

    </tbody>
    <th>
    </th>
  </table>

</div>

<div class="row">
  <%= paginate @executions, :theme => 'twitter-bootstrap', :pagination_class => "pagination-small pagination-centered" %>
</div>

</div>
