<%= simple_form_for @execution, :html => {:class => ''} do |f| %>

  <%= f.hidden_field :type, :value => "upload_files" %>
<%= f.fields_for :input_parameters do |input_params| %> 
  <% port = @input_ports[2] %>
  <%= input_params.fields_for :inputs do |inputs| %>
    <% value = @execution.input_parameters[:inputs][port] if @execution.input_parameters %>
    <%= inputs.input port, as: :hidden, input_html: {value: value, rows: 3, class: 'span9'}  %>
  <% end %>
<% end %>

<div class="row"><h3>New Job</h3></div>
<div class="row">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#upload_files" data-toggle="tab">Using Uploaded Files</a></li>
    <li><a href="#basic" data-toggle="tab">Using external files</a></li>
  </ul>
  <div class="tab-content">

  <div class="tab-pane active" id="upload_files">
    <%= render :partial => 'file_list', :locals => {f: f} %>
  </div>

  <div class="tab-pane" id="basic">
    <%= f.fields_for :input_parameters do |input_params| %> 

      <% port = @input_ports[0] %>
      <%= input_params.fields_for :inputs do |inputs| %>
        <% value = @execution.input_parameters[:inputs][port] if @execution.input_parameters %>
        <%= inputs.input port, as: :text, input_html: {value: value, rows: 3, class: 'span9'}  %>
      <% end %>

    <% end %>
  </div>


  </div>
    <label for="execution_input_parameters_inputs_language" class="text required control-label">
      <abbr title="required">*</abbr>
      Language
    </label>

    <% langs = ["ES", "EN", "CA", "PT", "IT"].map{|lang| [lang, lang.downcase]} %>
    <%= select "execution[input_parameters][inputs]", "language", langs  %>
    <br />
    <br />
    <%= f.button :submit, :class => "btn-primary" %>
<% end %>
</div>

<div class="row"> <hr /> </div>

<%= render :partial => "list" %>

<%= content_for :side do %>
  <h2>Help</h2>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
<% end %>


