<div class="row"><h3>New Job</h3></div>
<div class="row">
  <%= simple_form_for @execution, :html => {:class => ''} do |f| %>

    <%= f.fields_for :input_parameters do |input_params| %> 

      <% port = @input_ports[0] %>
      <%= input_params.fields_for :inputs do |inputs| %>
        <% value = @execution.input_parameters[:inputs][port] if @execution.input_parameters %>
        <%= inputs.input port, as: :text, input_html: {value: value, rows: 3, class: 'span9'}  %>
      <% end %>

    <% end %>

    <label for="execution_input_parameters_inputs_language" class="text required control-label">
      <abbr title="required">*</abbr>
      Language
    </label>

    <% langs = ["ES", "EN", "CA", "PT", "IT"].map{|lang| [lang, lang.downcase]} %>
    <%= select "execution[input_parameters][inputs]", "language", langs  %>
    <br />
    <br />
    <%= f.button :submit, :class => "btn-primary" %>
<% end %>
</div>

<div class="row"> <hr /> </div>
<div class="row"><h3>Jobs</h3></div>

<div class="row">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Date</th>
        <th>Status</th>
        <th>Results</th>
      </tr>
    </thead>
    <tbody>

    <% @executions.each do |execution| %>
      <tr>
        <td> <%= l execution.created_at, :format => :list_datetime %></td>
        <td>
          <span class="label <%= execution_status_class(execution) %>">
          <%= execution.status.to_s.humanize %>
          </span>
        </td>

        <td>
        <% if execution.finished? %>
          <% if execution.results %>
            <% execution.results.each do |output_id, output| %>
            <ol>
            <% output.each do |o| %>
              <li>
              <%= link_to image_tag("page_white_excel.png"), o[:value] %> <%= link_to "Download", o[:value] %> (<%= number_to_human_size(o[:size].to_i) %>)
              </li>
            <% end %>
            </ol>
            <% end %>
          <% else %>
          Error
          <% end %>
        <% end %>
        </td>
      </tr>
    <% end %>

    </tbody>
    <th>
    </th>
  </table>

</div>
<div class="row">
  <%= paginate @executions, :theme => 'twitter-bootstrap', :pagination_class => "pagination-small pagination-centered" %>
</div>

<%= content_for :side do %>
  <h2>Help</h2>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
<% end %>


