<% inputs_disabled = !@execution.new_record? %>
<div class="row">
  <h1><%= @execution.name.nil? ? "New Job" : @execution.name %></h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
</div>

<div class="row">
  <%= simple_form_for @execution, :html => {:class => ''} do |f| %>
    <%= f.input :user_id, :as => :hidden %>
  <%= f.input :name %>
  <%= f.input :description,  :input_html => { rows: 3, class: 'span4'} %>

    <h3> Inputs </h3>
  <%= f.fields_for :input_parameters do |input_params| %> 
    <% @input_ports.each do |port| %>

      <%= input_params.fields_for :inputs do |inputs| %>
          <% hint = @input_descriptor.send(port).description %>
          <% hint = "" if hint.upcase == port.to_s.upcase %>
          <% value = @execution.input_parameters[:inputs][port] %>
          <%= inputs.input port, as: :text, hint: hint, disabled: inputs_disabled, input_html: {value: value, rows: 3, class: 'span4'}  %>
      <% end %>
    <% end %>

  <% end %>

  <%= f.button :submit %>
<% end %>
</div>

<% if @execution.taverna_id %>
  <div class="row">
    <h4> Execution Properties </h4>
    <dl class="dl-horizontal">
      <dt>Taverna Id</dt>
      <dd><%= @execution.taverna_id %></dd>
      <dt>Status</dt>
      <dd><%= @execution.status.to_s.humanize %>
      <% unless @execution.finished? %>
        <%= link_to notify_execution_path(@execution.taverna_id), :method => :post do %> <i class="icon-repeat"></i> Refresh <% end %></dd>
      <% end %>
    </dl>
  </div>

  <% if @execution.finished? %>
  <div class="row">
    <h4> Results </h4>
    <dl class="dl-horizontal">
      <% @execution.results.each do |output_id, output| %>
      <dt><%= output_id.to_s.humanize %></dt>
      <dd>
      <ol>
      <% output.each do |o| %>
        <li>
        <%= link_to "Download", o[:value] %> (<%= number_to_human_size(o[:size].to_i) %>)
        </li>
      <% end %>
      </ol>
      </dd>
      <% end %>
    </dl>
  </div>
  <% end %>
<% end %>


